{{ 'hero-custom.css' | asset_url | stylesheet_tag }}


<div class="hero-wrapper">
    <div class="hero-headings-wrapper">
        <h2 class="hero-h2">{{ section.settings.hero_heading }}</h2>
        <p class="hero-p">{{ section.settings.hero_description }}</p>
        <a href={{ section.settings.button_link}} class="hero-button"> {{ section.settings.hero_button}} </a>
    </div>
    <img class="green-overlay" src={{ 'g3629.png' | asset_url }} alt="greeen-overlay">
</div>

{%-style -%}

    .hero-h2, .hero-p {
        color: {{ section.settings.headings_colors}};   
    }
    
    .hero-wrapper {
        background-image: url( {{  section.settings.hero_image | img_url: 'master' }} );
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        justify-content: {{ section.settings.heading_position }};
    }

    .hero-wrapper .hero-headings-wrapper {
        text-align: {{ section.settings.heading_position }};
    }

{%- endstyle -%}
    

{% schema %}
  {
    "name": "Hero",
    "settings": [
        {
          "type": "image_picker",
          "id": "hero_image",
          "label": "Hero Image"  
        },
        {
            "type": "text",
            "id": "hero_heading",
            "label": "Hero Heading",
            "default": "Heading" 
        },
        {
            "type": "textarea",
            "id": "hero_description",
            "label": "Hero Description",
            "default": "lorem ipsum dolor skimet" 
        },
        {
            "type": "select",
            "id": "headings_colors",
            "label": "Text Color",
            "options": [
            {
              "value": "black",
              "label": "Black"
            },
            {
              "value": "white",
              "label": "White"
            }
            ]
        },
        {
            "type": "select",
            "id": "heading_position",
            "label": "Text Position",
            "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
                "value": "center",
                "label": "Center"
            },
            {
                "value": "end",
                "label": "right"
            }
            ]
        },
        {
            "type": "text",
            "id": "hero_button",
            "label": "Button",
            "default": "View All" 
        },

        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
        }
    ],

    "presets": [
        {
            "name": "custom-hero",
            "category": "custom"
        }
    ]
  }
{% endschema %}





