{{ 'hero-custom.css' | asset_url | stylesheet_tag }}


<div class="hero-wrapper">
    <div class="hero-headings-wrapper">
        <h2 class="hero-h2">{{ section.settings.hero_heading }}</h2>
        {% if section.settings.heading_position == 'center' %}
            <p class="hero-p" style="margin: 5px auto 30px;">{{ section.settings.hero_description }}</p>
        {% else %}
            <p class="hero-p">{{ section.settings.hero_description }}</p>
        {% endif %}
        {% if section.settings.hero_button != blank %}
             <a href={{ section.settings.button_link}} class="hero-button"> {{ section.settings.hero_button}} </a>
        {% endif %}
    </div>
    <img class="green-overlay" src={{ 'g3629.png' | asset_url }} alt="greeen-overlay">
</div>

{%-style -%}

    .hero-h2, .hero-p, .hero-p-left {
        color: {{ section.settings.headings_colors}};   
    }
    
    .hero-wrapper { 
        background-image: linear-gradient(90deg ,rgba(0, 0, 0, {{ section.settings.hero_overlay}}) , rgba(0, 0, 0, {{ section.settings.hero_overlay}})), url( {{  section.settings.hero_image | img_url: 'master' }} );
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: {{ section.settings.heading_position }};
    }

    .hero-wrapper .hero-headings-wrapper {
        text-align: {{ section.settings.heading_position }};
    }

    .hero-wrapper .green-overlay {
        display: {{ section.settings.green_overlay_display }};
    }




{%- endstyle -%}
    

{% schema %}
  {
    "name": "Hero",
    "settings": [
        {
          "type": "image_picker",
          "id": "hero_image",
          "label": "Hero Image"  
        },

        {
            "type": "range",
            "id": "hero_overlay",
            "label":"Hero Overlay",
            "min": 0.1,
            "max":0.5,
            "step": 0.1,
            "default": 0.2
        },

        {
            "type": "text",
            "id": "hero_heading",
            "label": "Hero Heading",
            "default": "Heading" 
        },
        {
            "type": "textarea",
            "id": "hero_description",
            "label": "Hero Description",
            "default": "lorem ipsum dolor skimet" 
        },
        {
            "type": "select",
            "id": "headings_colors",
            "label": "Text Color",
            "options": [
            {
              "value": "black",
              "label": "Black"
            },
            {
              "value": "white",
              "label": "White"
            }
            ]
        },
        {
            "type": "select",
            "id": "heading_position",
            "label": "Text Position",
            "options": [
            {
              "value": "start",
              "label": "Left"
            },
            {
                "value": "center",
                "label": "Center"
            }
            ]
        },
        {
            "type": "text",
            "id": "hero_button",
            "label": "Button Text",
            "default": "View All" 
        },

        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
        },
        {
            "type": "select",
            "id": "green_overlay_display",
            "label": "Enable/Disable Divider",
            "options": [
            {
              "value": "Block",
              "label": "Enable"
            },
            {
              "value": "none",
              "label": "Disable"
            }
            ]
        }
    ],

    "presets": [
        {
            "name": "custom-hero",
            "category": "custom"
        }
    ]
  }
{% endschema %}





